body, html {
  margin: 0;
  padding: 0;
  min-width:100%;
  min-height:100%;
  font: Arial 14px; 
}

table {
  width:328px;
  height:328px;
  background-image: url(image.png);
  text-align: center;
  opacity:0.7;
  
}

img, td, .ceil {
   width:80px;
  height:80px;
}

.ceil{
  opacity: 0;
  transition: all ease 0.4s;
}

.ceil:hover {
  opacity: 0.2;
}

.center {
  position: fixed;
  display: flex-end;
  align-items: center;
  align-content: center; 
  justify-content: center; 
} 

#first_move {
  padding: 15px;
  background-color: #f5f5f5;
  transition: all ease 0.2s;
}
#first_move:hover {
  background-color: #FFFFFF;
}